* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: rgb(123, 145, 145);
}

.header {
  color: #282626;
}

header nav{
  float: right;
  font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}


.with-bullet-point {
  padding-top: 20px;
  list-style: circle;
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.top-image {
  height: 100%;
}
