* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: rgb(123, 145, 145);
}

.header {
  color: #282626;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

img {
  height:150px;
  width: 200px;
}

header nav{
  float: right;
  font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 0%;
}

.with-bullet-point {
  padding-top: 20px;
  display: flex;
  width: 350px;
  justify-content: space-between;
  list-style-position: inside;
  text-align: center;
}



article {
  display: flex;
  align-items: center;
  font-family: 'Trebuchet MS';
}

#about {
  width: 100%;
  max-width: 50%;
}

h2 {
  width: 200px;
  /* border-right: solid 3px grey; */
}

.top-image {
  height: 250px;
  background-image: url("../assets/images/sunset.jpg");
  background-size: cover;
  background-position: center;
}

#about {
  flex-direction: row;
  white-space: normal;
}


a {
  width: 525px;
}

#main-project {
  border: 4px solid gray;
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 525px;
  background-image: url("../assets/images/html\ refactor\ img.png");
  display: inline-block;
  width: 300px;
}

#main-project-1 {
  border: 4px solid gray;
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 525px;
  background-image: url("../assets/images/Background-1080.png");
  display: inline-block;
  width: 300px;
}

#main-project-2 {
  border: 4px solid gray;
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 525px;
  background-image: url("../assets/images/HIT.jpg");
  display: inline-block;
  width: 300px;
}

#project-title {
  width: 35%;
  color: white;
  display: flex;
  display: table-row;
}

#surfPlanner {
  width: 35%;
  color: white;
  display: flex;
  display: table-row;
}

#hammerIT {
  width: 35%;
  color: white;
  display: flex;
  display: table-row;
}

#contact {
  display: flex;
  justify-content: space-between;
}

#about {
  padding-left: 25px;
  border-left: solid 3px;
}

.work {
  border-right: solid 3px;
  width: 100px;
}

.contact-me-float-right {
  width: 250px;
}

@media screen and (max-width: 992px) {
  .header {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .card-contact {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .project-resize {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .project-resize-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}